<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />


    <title>ECommerce</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ECommerce</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/all-products">Home</a></li>
                <li><a href="/all-products">Product</a></li>
                <li><a href="/order-list">Order</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div th:replace="~{/search_fields :: searchCriteriaFragment
                        (searchCriteriaList=${searchCriteriaList}, baseUrl='/all-products')}"></div>

        <div class="alert alert-dismissible" th:if="${message != null}">
            <button type="button" class="close" data-dismiss="alert"></button>
            <span th:text="${message}">Test</span>

        </div>

        <table class="table table-bordered">
            <tr>
                <th>PRODUCT_ID</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th>STOCK</th>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
            </tr>
        </table>
    </div>
</body>
<footer>
<!--    <script  src="static/search_criteria.js"></script>-->
<script>
    $('#productId').select2({
    width: '100%',
    allowClear: true,
    placeholder: 'Select ID',
    ajax: {
        url: '/admin/auto-search/get-products-by-id',
        dataType: 'json',
        method: 'POST',
        delay: 500,
        data: function (params) {
            return {
                productId: params.term, // search term
                page: params.page
            };
        },
        results: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.text,
                        id: item.id
                    }
                })
            };
        }
    }
});

$('#productName').select2({
    width: '100%',
    allowClear: true,
    placeholder: 'Select Product Name',
    ajax: {
        url: '/admin/auto-search/get-products-by-name',
        dataType: 'json',
        method: 'POST',
        delay: 500,
        data: function (params) {
            return {
                description: params.term, // search term
                page: params.page
            };
        },
        results: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.text,
                        id: item.id
                    }
                })
            };
        }
    }
});
</script>

</footer>
</html>